* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { margins: 0; } /* To remove the scrollbars */

img { position: absolute; top: 0px; left: 0px; }